* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* P {
    color: lightslategray;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
}

/* header section starts here */
.nav-bar h1 {
    font-size: 2rem;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    margin-top: 20px;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-bar ul li a {
    position: relative;
    text-decoration: none;
    color: rgb(62, 50, 57);
    font-weight: 200;
}

.nav-bar ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: dodgerblue;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-out;
}

.nav-bar ul li a:hover::after {
    transform: scaleX(1);
}

.btn {
    padding: 10px 20px;
    border-radius: 10px;
    color: dodgerblue;
    background-color: #e6e6faa2;
    border-color: transparent;
    font-weight: 300;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: translateY(-3px);
}

.hero-section {
    margin-top: 6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.left-div h2 {
    font-size: 3rem;
    margin-bottom: 8px;
}

.left-div span {
    font-size: 3rem;
    font-weight: bold;
    color: dodgerblue;
}

.left-div p {
    margin-top: 10px;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.icon-1 {
    margin-right: 3px;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
}

.btn-secondary {
    padding: 10px 20px;
    background-color: dodgerblue;
    color: #fff;
    font-size: 1rem;
    border-radius: 10px;
}

.right-div img {
    width: 600px;
    height: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.achievements {
    background-color: #2196f3;
    margin-top: 60px;
    height: 140px;
}

.service-overview {
    display: flex;
    justify-content: space-between;
}

.service-overview h2 {
    font-size: 3rem;
    margin-top: 50px;
}

.service-view h3 {
    font-size: 2rem;
    margin-top: 50px;
}

.service-view span {
    font-weight: 300;
}


/* header ends here */

/* services section starts here */
.services-section {
    background: #a1aeb244;
    padding: 1.5rem 0;
}

.services-content {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.services-list {
    flex: 1.2;
    background: #fff;
    padding: 1.5rem;
    border-radius: 14px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.services-list h3 {
    font-size: 2.3rem;
    margin-bottom: 10px;
}

.services-list p {
    font-size: 1rem;
    padding: 0 0 20px 0;
    border-bottom: 2px solid #ddd;
}

.services{
    padding: 26px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: large;
}

.services div:first-child span{
    margin-right: 10px;
}

.services div:first-child span:first-of-type{
    font-size: 1.5rem;
}

.services div:first-child span:last-of-type{
    color: #2196f3;
    font: bolder;
    font-size: 1.25rem;
}

.services div:last-child button{
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #a1aeb244;
    border-color: transparent;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #aaa;
    transition: all 0.3s ease;
    color: dodgerblue;
}

.services div:last-child button:hover{
    transform: translateY(-5px);
}



.services div:last-child span{
    margin-left: 3px;
    padding:1px;
    font-weight: bolder;
    border-radius: 50%;
}


.cart-info {
    padding: 20px 0 0 0;
    font-size: 1.2rem;
    color: dodgerblue;
    border-top: 2px solid #ddd;
}

.cart-booking {
    flex: 1.1;
}

.cart-items {
    background: #fff;
    padding: 2rem;
    border-radius: 14px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.cart-items h4 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.t-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #ddd;
    box-shadow: 0.5px 0.5px 0.9px 0.5px #aaa;
    border-radius: 5px;
}

.t-body-empty{
    margin: 50px 0px 50px 0px;
    width: 484px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.t-body-empty span:last-of-type{
    font-size: 1.5rem;
    font-weight: 600;
}

.t-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 484px;
}

.service-name {
    margin-left: 50px;
}

.icon-tbody{
    font-size: 32px;
    font-weight:bolder;
}


.total-section {
    font-size: 1.5rem;
    border-top: 2px solid #ddd;
    padding-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

.booking-form {
    background: #fff;
    padding: 2rem;
    border-radius: 14px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.booking-form h4 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.form-message{
    margin-top: 10px;
    color: rgb(232, 64, 64);
}

label {
    display: block;
}

.email-phone-forms {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

#email,
#phone {
    width: 232px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 10px 0;
}

#email::placeholder,
#phone::placeholder {
    color: #ddddddf5;
}

#email:focus,
#phone:focus {
    border-color: darkslategray;
    outline: none;
}

#fullName {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 10px 0;
}

#fullName::placeholder {
    color: #ddddddf5;
}

#fullName:focus {
    border-color: darkslategray;
    outline: none;
}

.book-btn {
    width: 100%;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    background-color: dodgerblue;
    border: 1px solid transparent;
    color: white;
}

/* services sections ends here  */

/* features section starts here */

.feature-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
    margin: 10rem 0 6rem 0;
}

.feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature img {
    width: 150px;
    height: auto;
    margin-bottom: 15px;
}

.feature h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

/* feature section ends here */

/* news-letter section starts here */
.section-newsletter {
    background-color: #2196f3;
    padding: 3rem;
}

.newsletter-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-email-forms {
    display: flex;
    gap: 10px;
}

.newsletter-flex form button {
    margin-left: 10px;
    padding: 1rem 7rem;
    background-color: #fff;
    color: #2196f3;
    border: none;
    font-size: 1.2rem;
    font-weight: 300;
}

.newsletter-flex h3 {
    color: #fff;
    font-size: 3rem;
}

.name-email-forms input {
    width: 100%;
    padding: 1rem 10rem 1rem 2rem;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
}

.name-email-forms input::placeholder {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.7);
}

/* news-letter section ends here */

/* footer section starts here */
footer {
    background-color: #a1aeb244;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.footer {
    margin: 2.5rem 0 2.5rem 0;
}

.footer h2 {
    font-size: 3rem;
    margin-bottom: 25px;
}

.footer h3 {
    font-size: 1.3em;
    margin-bottom: 5px;
}

#footer-contact {
    margin-top: 2.5rem;
}

#footer-contact-span {
    margin-bottom: 5.5rem;
}

#footer-followUS-icon {
    margin-bottom: 3rem;
    font-size: 2rem;
}


.footer span {
    display: block;
    color: lightslategray;
}

/* footer section ends here */

@media (max-width: 1030px) {
    .nav-bar{
        margin: 15px;
    }
    .left-div{
        margin-left: 15px;
    }
    .right-div img{
        width: 500px;
        margin-right: 30px;
    }
    .service-overview{
        margin: 0px 10px 0px 10px;
    }
    .services-section{
        margin: 0px 10px 0px 10px;
    }
    .services-list{
        padding: 10px;
        width: 500px;
    }
    .services-list p{
        width: 480px;
    }
    .services{
        padding: 25px;
    }
    .services > div:first-child{
        font-size: 0.9rem;
    }
    .services-content{
        gap: 10px;
    }
    .cart-booking{
        width: 400px;
    }
    .t-head{
        width: 401px;
    }
    .t-body-empty{
        width: 401px;
    }
    .t-body{
        width: 401px;
    }
    .email-phone-forms{
        gap: 10px;
    }
    #email{
        width: 195px;
    }
    #phone{
        width: 197px;
    }
    .feature-flex{
        margin: 0px 10px 0px 10px;
        padding: 40px;
    }
    .footer-grid{
        margin-left: 50px;
    }
    .newsletter-flex form button{
        padding: 1rem 5rem;
        font-size: 1.2rem;
        font-weight: 500;
    }
    .Subscribe{
        width: 233px;
    }
    .newsletter-flex form div input{
        padding: 1rem 3rem 1rem 2rem;
        width: 233px;
    }
}

@media (max-width: 780px) {
    .hero-section{
        flex-direction: column;
    }
    .left-div p{
        margin: 10px 50px 20px 0px;
    }
    .right-div img{
        width: 700px;
    }
    .service-overview h2{
        margin-top: 5px;
    }
    .service-view h3{
        margin-top: 30px;
    }
    .services-content{
        flex-direction: column;
    }
    .services-list{
        width: 730px;
        margin-left: 10px;
    }
    .services-list p{
        width: 710px;
    }
    .services-list div:last-child{
        margin-bottom: 20px;
    }   
    .cart-booking{
        width: 730px;
        margin-left: 10px;
    }
    .t-head{
        width: 666px;
    }
    .t-body-empty{
        width: 666px;
    }   
    .t-body{
        width: 666px;
    }
    #email,
    #phone {
        width: 327px;
    }
    .feature-flex{
        padding: 30px;
        gap: 15px;
    }
    .footer-grid{
        margin-left: 10px;
        margin-right: 10px;
    }
    .newsletter-flex{
        flex-direction: column;
        gap: 20px;
    }
    .Subscribe{
        width: 486px;
    }
}

@media (max-width: 430px) {
    .nav-bar{
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }
    .nav-bar ul{
        flex-direction: column;
        gap: 10px;
    }
    .left-div{
        margin-top: -50px;
    }
    .right-div img{
        width: 400px;
        margin-left: 20px;
    }
    .service-overview{
        gap: 10px;
    }
    .service-overview h2{
        font-size: 1.5rem;
        margin-top: 40px;
        margin-left: -10px;
    }
    .service-overview h3{
        font-size: 1.5rem;
        margin-top: 40px;
    }
    .services-list{
        width: 380px;
        margin-left: 13px;
    }
    .services-list p{
        width: 360px;
    }
    .services{
        flex-direction: column;
        gap: 20px;
    }
    .services div:last-child button{
        width: 100%;
    }
    .cart-booking{
        width: 380px;
        margin-left: 13px;
    }
    .t-head{
        width: 316px;
    }
    .t-body-empty{
        width: 316px;
    }
    .t-body{
        width: 316px;
    }
    .email-phone-forms{
        flex-direction: column;
        gap: 10px;
    }
    #email,
    #phone {
        width: 316px;
    }
    .feature-flex{
        flex-direction: column;
        gap: 30px;
    }
    .newsletter-flex{
        align-items: center;
        text-align: center;
    }
    .newsletter-flex form button{
        margin-left: -2px;
    }
    .Subscribe{
        width: 316px;
    }
    .name-email-forms {
        flex-direction: column;
    }
    .newsletter-flex form div input{
        width: 316px;
    }
    .footer-grid{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 10px;
    }
}